{% extends "base.html" %}

{% block content %}

    <div class="exmp">
        <div class="exmp1">
            <div class="exmp11">
                <img src="/static/exmp1.png" alt="img">
                <img src="/static/exmp2.png" alt="img">
                <img src="/static/exmp3.png" alt="img">
            </div>
            <img class="exmp12" src="/static/photo2.png" alt="img">
        </div>
        <div class="exmp2">
            <h1 style="font-weight: bold;">BUNNY WITH A RED DRESS</h1>
            <p class="B">ADD TO BAG</p>
            <p class="A">₾20.00</p>
            <p>DESCRIPTION</p>
            <ul>
                <li>Color - Cream</li>
                <li>Dress - Yes</li>
                <li>Dress color - Red</li>
                <li>Hat - None</li>
                <li>Hat color - None</li>
                <li>Overalls - None</li>
                <li>Overalls color - None</li>
            </ul>
        </div>
    </div>

{% endblock %}