{% extends "base.html" %}

{% block content %}
    <div class="products">
        <div class="category">
            <h1>ALL CATEGORIES</h1>
            <p>Toys</p>
            <p>Bags</p>
            <p>Other</p>
        </div>
        <div class="products1">
            <div class="choices">
                <form>
                  <select style=" border-color: white;">
                    <option>Price</option>
                    <option>increasing</option>
                    <option>decreasing</option>
                  </select>
                </form><form>
                  <select style=" border-color: white;">
                    <option>Sells</option>
                    <option>increasing</option>
                    <option>decreasing</option>
                  </select>
                </form><form>
                  <select style=" border-color: white;">
                    <option>Color</option>
                    <option>blue</option>
                    <option>pink</option>
                    <option>red</option>
                  </select>
                </form><form>
                  <select style=" border-color: white;">
                    <option>Size</option>
                    <option><50cm</option>
                    <option>50cm-100cm</option>
                    <option>>100cm</option>
                  </select>
                </form>
            </div>
            <div class="examples">
                {% for item in items %}
                <a href="example.html">
                <div class="products21">
                    <img class="img" src="/static/{{item['image']}}" alt="img">
                    <p class="p1">{{item['name']}}</p>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
